.base {
  border-radius: 20px;
}

/* data-sizeがsmallの場合に適用されるという意味 */
.base[data-size="small"] {
  width: 90px;
  height: 60px;
  font-size: 20px;
}
.base[data-size="large"] {
  margin-top: 60px;
  margin-bottom: 30px;
  width: 200px;
  height: 80px;
  font-size: 30px;
}

/* data-colorがredの場合に適用されるという意味 */
.base[data-color="red"] {
  background-color: rgb(255, 82, 82);
}

.base[data-color="gray"] {
  background-color: rgb(197, 197, 197);
}

.base[data-color="green"] {
  background-color: rgb(95, 255, 202);
}
