.confirmation {
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
}

/* ボタン */
.buttons {
  width: 220px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
}
