.container{
    width: 1200px;
    margin: auto;
}
.h1{
    margin: 50px;
}

.title{
    color: #000;
    text-decoration: none; 
    font-size: 30px;
    margin-bottom: 50px;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    padding: 40px;
}

.content{
    font-size: 20px;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    padding: 40px;
}


/* 一覧画面へ戻るボタン */
.indexBtn{
    width: 200px;
    padding: 10px;
    margin-top: 90px;
    background-color: rgb(189, 189, 189);
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px 15px -10px;
}
.indexBtnText{
    margin: auto;
    color: #000;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}
/* ここまで一覧画面に戻るボタン */


/* 削除と編集ボタン */
.buttons{
    display: flex;
}

.deleteButton{
    width: 83px;
    background-color: rgb(254, 120, 120);
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    margin-right: 20px;
}

.editButton{
    width: 43px;
    background-color: rgb(197, 220, 255);
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
}
.edit{
    color: #000;
    font-size: 20px;
    text-decoration: none;
}
/* ここまで削除と編集ボタン */